.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  gap: 20px;

  .login-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 5rem;

    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }

    .login-header {
      border-bottom: 2px solid;
      padding: 1%;
      text-align: center;
      margin-bottom: 20px;
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .vertical-line {
    width: 1px;
    height: auto;
    background-color: #ccc;
    align-self: stretch;
  }

  .social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      width: 200px;
    }
  }
}
